$primary-color: #278795;
$secondary-color: #34495e;
$text-color: #ecf0f1;

.sidebar {
  width: auto;
  background: $primary-color;
  color: $text-color;
  height: 100vh;
  transition: width 0.3s ease-in-out;

  &.expanded {
    width: 60px;

    .menu-title span {
      display: none;
    }

    .submenu {
      display: none;
    }

    .arrow {
      display: none;
    }

    img {
      display: none;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      .menu-title {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        transition: background 0.3s;
        border-bottom: 1px solid rgba(255, 255, 255, .15);

        &:hover {
          background: darken($secondary-color, 10%);
        }

        i {
          margin-right: 10px;
        }

        .arrow {
          margin-left: auto;
          transition: transform 0.3s;
        }

        .rotate {
          transform: rotate(90deg);
        }
      }

      .submenu {
        list-style: none;
        padding-left: 20px;
        background: darken($primary-color, 5%);
        max-height: auto;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;


        li {
          padding: 10px;
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
          }

          a {
            color: $text-color;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
              color: lighten($text-color, 10%);
            }
          }
        }
      }
    }
  }

  .sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }

  .mt-0,
  .my-0 {
    margin-top: 0 !important;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    padding: 6px 15px 15px 6px;
    cursor: pointer;
  }
}
.image-container {
  width: 190px; // Set your desired crop width
  height: 40px; // Set your desired crop height
  overflow: hidden; // Hide the extra parts
  border-radius: 10px; // Optional: Add rounded corners
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Crop the image while keeping quality
    padding: 5px 5px 0px 14px;
  }
}
.divider {
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}
